* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: wheat;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 80vh;
}

span {
  opacity: 0;
  transition: all 1s ease;

  transform: translateY(150px);
  display: inline-block;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
  color: brown;
}

.reset {
  text-align: center;
}
button {
  padding: 0.5rem 2rem;
  background-color: brown;
  font-size: 1rem;
  position: absolute;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  button {
    padding: 0.1rem 1rem;
  }
}
