* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: wheat;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 80vh;
}

span {
  opacity: 0;
  transition: all 0.5s ease;

  transform: translateY(100px);
  display: inline-block;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
}

.reset {
  text-align: center;
}
button {
  padding: 0.5rem 2rem;
  background-color: wheat;
  font-size: 1rem;
  position: absolute;
  margin-top: 3rem;
}
